* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.brand {
    text-transform: uppercase;
    font-size: 1.75rem;
    color: rgb(211, 7, 7);
    font-weight: bold;
}

nav {
    margin-left: auto;
}

nav a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    margin: 8px;
}

main {
    display: flex;
    gap: 13px;
    height: 90vh;
}

aside {
    width: 165px;
    padding: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    background-color: rgb(211, 7, 7);
    color: white;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    padding: 10px;
}

article {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 12px;
}

.testimonial {
    padding: 16px;
    background-color: rgb(218, 211, 211);
}

blockquote {
    font-style: italic;
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 15px;
}
